body { background: #E1E1E1 url('GrayBackgroundStripe.png') repeat-x; text-align:center; }
div { border:0; position: relative; text-align: left; font-family: Arial, sans-serif; font-size:12px; }
#PageContainer { width: 850px; margin: 0 auto; background: #ffffff; }
#Header { height: 100px; }
#Header #LogoImage { top:25px; left:16px; width: 59px; height: 56px; background: url('ComfortLogo.png') no-repeat; }
#Header #LogoText { position: absolute; top: 28px; left:80px; font-family: Arial, sans-serif; font-size: 38px; font-weight: bold; color: gray; }
#NavigationLinks { position: absolute; top: 45px; right: 32px; }
.NavigationLinks { float:left; margin-left:40px; width: auto; text-align: right; font-family: Arial,sans-serif; font-size:18px; }
/* Main navigation link colors when mouse is away */
.NavigationLinks a, a:visited, a:link { color: #007FEF !important; text-decoration: none; font-size:16px !important; font-weight:bold; }
/* Main navigation link colors when mouse is hovered */
.NavigationLinks a:hover { color: #898989 !important; text-decoration: none; font-size:16px;font-weight:bold;  }
/* Footer Links (pravacy policy,etc) */
#LeftFooter div a,
#LeftFooter div a:visited,
#LeftFooter div a:link,
#LeftFooter div a:hover { color: #333333 !important; font-size:12px !important; font-weight:bold; text-decoration: none; }
.Blue { color: #007FEF; }
.Gray { color: gray; }
.Italic { font-style: italic; }
#Splash { width: 850px; }
#ImageLogo { width: 289px; height: 263px; background: url('Mighty.png') no-repeat; float: left; }
#WelcomeBackground { width: 561px; height: 263px; background: url('WelcomeBackground.png') repeat-x; float: left; }
#PresentationText p { font-size: 20px; text-align: center; color: #696969; font-family: Arial, sans-serif; }
#PresentationText h1 { font-size: 32px; text-align: center; color: #696969; font-family: Arial, sans-serif; }
#PageBody { width: 850px; background: #ffffff; border-left: 1px solid gray; }
#PageBody #LeftSidebar { width:288px; float: left; }
#PageBody #Content { width: 560px; background: #ffffff; float: left; }
.Clear { clear: both; }
.Padding { padding:16px; }
.Padding h2 { color: #656565; font-family: Arial, sans-serif; font-size: 19px; margin-top: 0; }
.Padding p { color: #656565; font-family: Arial, sans-serif; font-size: 14px; }
#PageContent h2 { color: #007FEF; }
#PageFooter { width: 850px; background: #E1E1E1; border-left: 1px solid gray; }
#PageFooter #LeftFooter { width:290px; float: left; background: #A4A4A4; }
#PageFooter #FooterContent { width: 560px; background: #AEAEAE; float: left; }
#PageFooter #FooterContent div { text-align:right; }
/* Please do not remove or modify the following code*/
.Creators { color:gray; font-size:10px; text-align: center; margin:20px; }
.Creators a,
.Creators div a:visited,
.Creators div a:link,
.Creators div a:hover { color: gray !important; font-size:10px !important; text-decoration: none; }