---
layout: default
title: "Activity Driven Movement"
navigationName: "Homepage"
description: "The truth is more important than the facts. (Frank Lloyd Wright)"
coverImg: "home-bg.png"
order: 1
comments: false
---
<!-- group: "navigation" -->

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for post in paginator.posts %}
                <div class="post-preview">
                <a href="{{post.url | prepend: site.url}}">
                    <h2 class="post-title">
                        {{post.title}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{post.description}}
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="#">{{post.author}}</a> on {{post.date | date_to_string}}</p>
            </div>
            <hr>
            {% endfor %}
                     
            <!-- Pager -->
            {% if paginator.total_pages > 1 %}
            <ul class="pager">
                {% if paginator.previous_page > 1%}
                <li class="previous">
                    <a href="{{paginator.previous_page_path | prepend: site.url | replace: '//', '/'}}">&larr; Prev Posts</a>
                </li>
                {% endif %}
                {% if paginator.next_pages > 1%}
                <li class="{{paginator.next_page_path | prepend: site.url | replace: '//', '/'}}">
                    <a href="#">Older Posts &rarr;</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>

<hr>

